<div class="executive-summary">
    <div class="executive-summary-metric productivity-widget">
        <div class="metric-title">Overall Productivity Index</div>
        <div class="metric-value index-value">{{ overall_index }}%</div>
    </div>
    <div class="executive-summary-metric active-users-widget">
        <div class="metric-title">Number of Active Users</div>
        {% if active_users.trend %}
        <div class="metric-trend" style="background-color: {{ active_users.trend.color }};">
            {{ active_users.trend.pct }} {{ active_users.trend.arrow }} ({{ active_users.trend.description }})
        </div>
        {% endif %}
        <div class="donut-chart-container">
            <canvas id="active_users_donut" class="chart-canvas no-border"
                data-chart='{{ active_users.chart_data | tojson }}'
                data-options='{{ active_users.chart_options | tojson }}' data-type="donut"
                style="border: none;"></canvas>
        </div>
    </div>
    {% for metric in executive_summary_metrics %}
    <div class="executive-summary-metric">
        <div class="metric-title">{{ metric.label }}</div>

        {% if metric.trend %}
        <div class="metric-trend" style="background-color: {{ metric.trend.color }};">
            {{ metric.trend.pct }} {{ metric.trend.arrow }} ({{ metric.trend.description }})
        </div>
        {% endif %}
        <div class="chart-container">
            <canvas id="executive_{{ metric.chart_id }}" class="chart-canvas"
                data-chart='{{ metric.chart_data | tojson }}'
                data-options='{{ metric.chart_options | tojson }}'></canvas>
        </div>
    </div>
    {% endfor %}
</div>